<div class="timeline">
  <p *ngIf="todayDisplayed$ | async" [ngStyle]="timePosition" class="hourStamp coloredHourStamp">
    {{ this.today | date: 'HH:mm' }}
  </p>
  <p class="hourStamp">7:00</p>
  <p class="hourStamp">8:00</p>
  <p class="hourStamp">9:00</p>
  <p class="hourStamp">10:00</p>
  <p class="hourStamp">11:00</p>
  <p class="hourStamp">12:00</p>
  <p class="hourStamp">13:00</p>
  <p class="hourStamp">14:00</p>
  <p class="hourStamp">15:00</p>
  <p class="hourStamp">16:00</p>
  <p class="hourStamp">17:00</p>
  <p class="hourStamp">18:00</p>
  <p class="hourStamp">19:00</p>
  <p class="hourStamp">20:00</p>
  <p class="hourStamp">21:00</p>
  <p class="hourStamp">22:00</p>
  <p class="hourStamp">23:00</p>
  <p class="hourStamp">24:00</p>
</div>
