.date-switcher {
  display: flex;
  align-items: center;
}

.today-date {
  font-family: 'Raleway', sans-serif;
  color: #e0004d;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.2rem;
  margin: 0;
  text-decoration: none;
  height: 5rem;
}

.next {
  padding: 0;
  margin: 0 2rem;
}

.md-48 {
  font-size: 4.8rem;
}
