<div class="delete-dialog-container">
  <div mat-dialog-title class="container-header">
    <h1 class="header-title">Delete Event</h1>
    <button mat-button mat-dialog-close class="header-cross" tabindex="-1">
      <em class="material-icons header-cross-icon">clear</em>
    </button>
  </div>

  <mat-divider class="horizontal-line"></mat-divider>

  <div class="dialog-content">
    <mat-dialog-content>
      <p>
        You are about to <span class="delete-highlight">delete</span> the
        <span class="delete-highlight">{{ data.title }}</span> event.<br />
        Please confirm your action
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-raised-button mat-dialog-close color="primary" class="bs-btn" type="submit">
        Delete event
      </button>
      <button mat-stroked-button mat-dialog-close color="primary" class="bs-btn bs-stroked-btn" type="button">
        Cancel
      </button>
    </mat-dialog-actions>
  </div>
</div>
