.container {
  margin: 0rem 1.9rem 3.2rem 3.2rem;
  font-size: 1.5rem;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.container-buttons {
  display: flex;
}

.header-title {
  font-family: 'RalewayExtraBold';
  font-size: 3.2rem;
  padding-right: 6.4rem;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.material-icons {
  font-size: 4rem;
}

.content-icon {
  font-size: 3.3rem;
  margin-right: 2rem;
}

.dialog-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.guest-list {
  display: flex;
}

.people-list {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 1.2rem 0;
}

.time-date-splitter {
  margin-left: 1rem;
  font-size: 2rem;
}

.horizontal-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #dbdbdb;
  margin-bottom: 3.2rem;
}

.dialog-content {
  margin-bottom: 2.7rem;
  height: 30rem;
  width: 60rem;
}
