@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');

.mat-icon,
.mat-button {
  display: block;
  width: 5rem;
  height: 5rem;
}

.mat-icon {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button {
  padding: 0;
  display: flex;
  justify-content: center;
}

.mat-menu-panel {
  width: 24rem;
  height: 14.6rem;
}

.mat-menu-item {
  height: 3rem;
  font-family: 'OpenSansBold';
  font-size: 1.8rem;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  margin: 1.5rem 5rem 1rem 0;
}
